<style>

* {
    margin:0px;
    padding:0px;
}

body{
margin:0px;

}

.cafe{
	width: 100%;
	padding: 16px 0px 0px 0px;
	gap: 16px;
	opacity: 0px;
	font-family: Barlow;
	font-size: 22px;
	font-weight: 400;
	line-height: 28px;
	text-align: center;
	background-color: #F44336;
	padding:10px;
	color:#F9F6F3;

}

.cafe p {
    margin: 0;
    padding: 0;
}

.food img{
	width : 100%;
	height: 707px;
	top: -72px;
	gap: 0px;
	opacity: 0px;
}

.menuIntro{
	width: 100%;
	padding: 64px 16px 64px 16px;
	gap: 8px;
	opacity: 0px;
	text-align:center;
	display: flex;
	flex-direction: column;
	align-items: center
}

.friend{
	width: 256px;
	height: 40px;
	gap: 0px;
	opacity: 0px;
	font-family: Barlow;
	font-size: 32px;
	font-weight: 400;
	line-height: 40px;
	text-align: center;
	margin: 0;
}

.kong{
	width: 270px;
	height: 28px;
	gap: 0px;
	opacity: 0px;
	font-family: Barlow;
	font-size: 22px;
	font-weight: 400;
	line-height: 28px;
	text-align: center;
	margin: 0;
}

.all{
	width: 255px;
	height: 20px;
	gap: 0px;
	opacity: 0px;
	font-family: Barlow;
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
	letter-spacing: 0.25px;
	text-align: center;
	margin: 0;
}

.menu{
	width: Fill (1,125px)px;
	height: Hug (453.25px)px;
	gap: 32px;
	opacity: 0px;
	display: flex;
}

.price{
	display:flex;
	align-items: center;
}
img{
	width: 100%;
	gap: 0px;
	opacity: 0px;

}
.priceText{
	gap: 0px;
	opacity: 0px;
}
.menuDesc{
	width: Fill (257.25px)px;
	height: Fixed (64px)px;
	padding: 0px 16px 16px 16px;
	gap: 0px;
	opacity: 0px;
}
.menuList{
	display:block;
	width: Fill (257.25px)px;
	height: Hug (453.25px)px;
	padding: 0px 0px 32px 0px;
	gap: 0px;
	opacity: 0px;

}
.menuText{
	font-family: Barlow;
	font-size: 22px;
	font-weight: 400;
	line-height: 28px;
	text-align: center;
}
.menuDesc{
	font-family: Barlow;
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
	letter-spacing: 0.25px;
	text-align: center;
	height:64px;
}

.priceNumber{
	font-family: Barlow;
	font-size: 22px;
	font-weight: 400;
	line-height: 28px;
	text-align: right;
	justify-content: right;
	margin-right:16px;
	margin-top:4px;
	margin-bottom:4px;
}

.priceText{
	font-family: Barlow;
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
	letter-spacing: 0.25px;
	text-align: left;
	justify-content: right;
	width:100%;
	margin-left:16px;
	margin-top:4px;
	margin-bottom:4px;
}

.menu{
	display:flex;
	width: 100%;
	gap: 32px;
	opacity: 0px;
}
.menuList{
	padding: 0px 0px 32px 0px;
	gap: 0px;
	opacity: 0px;
	flex:1;
}


.cafe{
	margin: 0;
    padding: 0;
}

p {
    margin: 0;
    padding: 0;
    color: rgba(66, 66, 66, 1);
}
.cafe{
	padding: 16px;
}
.titleText{
	color: rgba(249, 246, 243, 1);
}
</style>